h4 {
  color: rgb(52, 35, 14);
  text-align: center;
  margin-top: 3rem;
}
table {
  width: 70%;
  margin: 0 auto;
}

td {
  padding: 1rem;
  background-color: rgb(253, 226, 190);
  text-align: center;
}
