<div>
  <fieldset>
    <h4>Formulário de tarefas</h4>

    <form [formGroup]="form" (ngSubmit)="submitTask()">
      <div>
        <label for="title">Título</label>
        <input
          class="input"
          id="title"
          type="text"
          name="title"
          formControlName="title"
        />
        <div *ngIf="form.get('title')?.hasError('required')">
          <p>Título é obrigatório!</p>
        </div>
      </div>
      <div>
        <label for="description">Descrição</label>
        <input
          class="input"
          id="description"
          type="text"
          name="description"
          formControlName="description"
        />
        <div *ngIf="form.get('description')?.hasError('required')">
          <p>Descrição é obrigatória!</p>
        </div>
      </div>
      <div>
        <label for="price">Preço:</label>
        <input
          class="input"
          type="number"
          id="price"
          name="price"
          formControlName="price"
        />
        <div *ngIf="form.get('price')?.hasError('required')">
          <p>Preço é obrigatório!</p>
        </div>
      </div>
      <div>
        <label for="date">Data de vencimento</label>
        <input
          class="input"
          id="date"
          type="date"
          name="date"
          formControlName="date"
        />
        <div *ngIf="form.get('date')?.hasError('required')">
          <p>Data é obrigatória!</p>
        </div>
      </div>
      <div>
        <label for="category">Categoria</label>
        <select
          class="input"
          name="category"
          id="category"
          formControlName="category"
        >
          <option value="" disabled selected>Selecione</option>
          <option value="toDo">To do</option>
          <option value="inProgress">In progress</option>
          <option value="done">Done</option>
        </select>
        <div *ngIf="form.get('category')?.hasError('required')">
          <p>Categoria é obrigatória!</p>
        </div>
      </div>
      <div class="container-btn">
        <button type="submit" [disabled]="!form.valid">Adicionar</button>
      </div>
    </form>
  </fieldset>
</div>
