<app-task-form-reactive (addTask)="onAddTask($event)"></app-task-form-reactive>
<!--
<app-task-form (addTask)="onAddTask($event)"></app-task-form>
-->

<app-task-list
  [tasks]="listTask"
  (handleTask)="handleTask($event)"
></app-task-list>

<div *ngIf="selectedTask">
  <app-task-detail
    [task]="selectedTask"
    (closeDetail)="closeDetail()"
  ></app-task-detail>
</div>

<app-kanban-chart [tasks]="listTask"></app-kanban-chart>

<!--O segundo closeDetail poderia ser outro nome qualquer-->
<app-task-table [taskTable]="taskTable"></app-task-table>
